{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="pageHero">
        <div class="pageHero__breadcrumb">
            <a href="/home">Accueil</a>
            <span>»</span>
            <p>S'inscrire</p>
        </div>
    </section>

    <section class="authErrors">
        {{ form_errors(registrationForm) }}
    </section>

    <section>
        {{ form_start(registrationForm, {
            attr: { class: 'loginForm__wrapper' }
        }) }}

            <div class="loginForm__field">
                {{ form_row(registrationForm.email, {
                    label_attr: { class: 'loginForm__label' },
                    attr: {
                        class: 'loginForm__input',
                        placeholder: 'Email'
                    }
                }) }}
            </div>

            <div class="loginForm__field">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password',
                    label_attr: { class: 'loginForm__label' },
                    attr: {
                        class: 'loginForm__input',
                        placeholder: 'Password'
                    }
                }) }}
            </div>

            <div class="loginForm__field">
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'Agree terms',
                    label_attr: { class: 'loginForm__label' },
                    attr: {
                        class: 'loginForm__agreeTerms',
                    }
                }) }}
            </div>

            <button type="submit" class="loginForm__button">
                S'INSCRIRE
            </button>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
