{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
<section class="reservationNew">
    <div class="reservationNew__dates">
        <p>Arrivée : {{ arrived|date('d-m-Y') }}</p>
        <span>/</span>
        <p>Départ : {{ return|date('d-m-Y') }}</p>
    </div>
</section>

    <section class="reservationList">
            {% for room in rooms %}

            <div class="card">
                <div class="card__image">
                    {% if room.photos|length > 0 %}
                        <img src="{{ asset('uploads/' ~ room.photos[0].filename) }}">
                    {% endif %}
                </div>

                <div class="card__content">
                    <h3 class="card__name">{{ room.name }}</h3>
                    <p class="roomCard__price">{{ room.priceNight|round }}€ / nuit</p>

                    <div class="card__actions">
                        <a href="{{ path('app_payment_new', {'id': room.id}) }}">Réserver</a>
                        <a href="{{ path('app_room_edit', {'id': room.id}) }}">Détail</a>
                        {# button modal #}
                        <button class="btn" data-modal="modal__{{ room.id }}">Open Modal</button>
                    </div>
                </div>
            </div>

            {# modal #}
            <div id="modal__{{ room.id }}" class="modal">

                {# modal content #}
                <div class="modal__content">
                    <span class="modal__close">&times;</span>
                    <div class="modal__img">
                        <img src="{{ asset('uploads/' ~ room.photos[0].filename) }}" alt="Photo {{ room.name }}">
                    </div>
                    <div class="modal__card">
                        <h3>{{ room.name }}</h3>
                        <p>{{ room.descriptionCourte }}</p>
                        <p>{{ room.priceNight|round }}€ / nuit</p>
                    </div>
                    <div class="card__actions">
                        <a href="{{ path('app_payment_new', {'id': room.id}) }}">Réserver</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
{% endblock %}
