{% extends 'base.admin.html.twig' %}

{% block title %}Paiements{% endblock %}

{% block body %}
<section class="payment payment--admin">
    <div class="payment__list">
        <div class="payment__header">
            <h1 class="payment__titlePage">Paiement</h1>
        </div>
        <div class="payment__item">
            {% for payment in payments %}
                <div class="payment__card">
                    <div class="payment__content">
                        <div class="payment__info">
                            <h3 class="payment__title">Paiement #{{ payment.id }}</h3>

                            <p class="payment__mode">Mode : {{ payment.mode }}</p>
                        </div>

                        <div class="payment__meta">
                            <div class="payment__details">
                                <p class="payment__amount">{{ payment.total }} €</p>

                                <p class="payment__date">{{ payment.datePayment ? payment.datePayment|date('d/m/Y') : '' }}</p>
                            </div>

                            <div class="payment__status">
                                <span class="payment__badge payment__badge--{{ payment.status }}">{{ payment.status }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="payment__empty">
                    <p>Aucun paiement</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}