{{ form_start(form, {
    action: path('app_payment_new', {id: room.id}),
    method: 'POST',
}) }}
    <section class="paymentForm">
        <h3 class="paymentForm__title">Résumé du séjour</h3>

        <section class="paymentForm__room">
            <div class="paymentForm__roomImage">
                {% if room.photos|length > 0 %}
                    <img src="{{ asset('uploads/' ~ room.photos[0].filename) }}">
                {% endif %}
            </div>

            <h4 class="paymentForm__roomName"><span>Chambre : </span>{{ room.name }}</h4>
        </section>

        <section class="paymentForm__price">
            <p>Prix total : {{ price }} €</p>
        </section>

        <section class="paymentForm__dates">
            <p>Dates : {{ arrived|date('d-m-Y') }}</p>
            <span>/</span>
            <p>{{ return|date('d-m-Y') }}</p>
        </section>

        <section class="paymentForm__checkin">
            <p>Arrivé : à partir de 14h00</p>
            <p>Départ : avant 11h00</p>
        </section>

        <section class="paymentForm__payment">
            {{ form_row(form.mode, {
                label: 'Mode de paiement',
                label_attr: { class: 'paymentForm__label' },
                attr: {
                    class: 'paymentForm__input'
                }
            }) }}

            <button class="paymentForm__submit">PAYER MAINTENANT</button>
        </section>
    </section>
{{ form_end(form) }}
