{% extends 'base.html.twig' %}

{% block title %}Payment{% endblock %}

{% block body %}
    <h1>Payment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ payment.id }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ payment.total }}</td>
            </tr>
            <tr>
                <th>Date_payment</th>
                <td>{{ payment.datePayment ? payment.datePayment|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ payment.mode }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ payment.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_payment_index') }}">back to list</a>

    <a href="{{ path('app_payment_edit', {'id': payment.id}) }}">edit</a>

    {{ include('payment/_delete_form.html.twig') }}
{% endblock %}
